{% extends 'main/base.html' %}
{% load static mosaic i18n %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        </div>
        <div class="col col-md-8">
            {% include '_base_form.html' with form=form submit_text=_('Reset my password') labels=True %}
        </div>
    </div>
{% endblock %}
