{% load i18n static mosaic %}

<header>
    <nav class="navbar navbar-light bg-light bg-white justify-content-between">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="119" height="30" class="d-inline-block align-top"
                 alt="{% trans 'Antiquities Authoroty' %}">
            {% trans 'Antiquities Authoroty' %} | {% trans 'Mosaics' %}
        </a>
        <form id="main-search-form" class="form-inline">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="{% trans 'Search' %}"
                       aria-describedby="main-search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text" id="main-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </form>
    </nav>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white justify-content-between pr-md-0 pl-md-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">{% trans 'Home page' %} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'Popular' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'Tags' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'Period' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% trans 'Map' %}</a>
                    </li>
                </ul>
                <form id="lang-form" class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select id="lang-switcher" class="form-control" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </nav>
    </div>
</header>