{% load i18n static mosaic %}

<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white justify-content-between">
    {% comment %}
    <button class="user-menu-btn border-0" type="button">
        {% svg_icon 'menu' 'menu_icon' True %}
    </button>
    {% endcomment %}
    <div class="nav-toggle">
        <div class="nav-toggle-bar"></div>
    </div>
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo-2.png' %}" class="d-inline-block align-top img-fluid" alt="{% trans 'Antiquities Authoroty' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item{% if page_name == 'home' %} active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">
                    {% trans 'HOME PAGE' %}{% if page_name == 'home' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item{% if page_name == 'sites' %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:site_list' %}">
                    {% trans 'SITES' %}{% if page_name == 'sites' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item{% if page_name == 'subjects' %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:subjects' %}">
                    {% trans 'SUBJECTS' %}{% if page_name == 'subjects' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item{% if page_name == 'periods' %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:periods' %}">
                    {% trans 'PERIOD' %}{% if page_name == 'periods' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item{% if page_name == 'map' %} active{% endif %}">
                <a class="nav-link" href="#">
                    {% trans 'MAP' %}{% if page_name == 'map' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
        </ul>
        {% comment %}
        <form id="main-search-form" class="form-inline">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="{% trans 'Search' %}"
                       aria-describedby="main-search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text" id="main-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </form>
        {% endcomment %}
    </div>
    <div id="user_menu">
        <ul>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <li class="nav-item">
                    <form id="lang-form" class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <input name="language" type="hidden" value="{{ language.code }}"/>
                        <button type="submit" class="nav-link no-btn text-left w-100{% if language.code == LANGUAGE_CODE %} disabled{% endif %}"{% if language.code == LANGUAGE_CODE %} disabled{% endif %}>
                            {% svg_icon 'about' 'menu_list_icon' True %} {{ language.name_local }}
                        </button>
                    </form>
                </li>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <li class="nav-item{% if page_name == 'about' %} active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">
                    {% svg_icon 'about' 'menu_list_icon' True %} {% trans 'About' %}
                </a>
            </li>
            <li class="nav-item{% if page_name == 'contact_us' %} active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">
                    {% svg_icon 'email' 'menu_list_icon' True %} {% trans 'Contact' %}
                </a>
            </li>
            {% comment %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    {% svg_icon 'feedback' 'menu_list_icon' True %} {% trans 'Feedback' %}
                </a>
            </li>
            {% endcomment %}
            {% if request.user.is_admin %}
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:tag_create' %}">
                        {% trans 'Tags' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:site_create' %}">
                        {% trans 'Sites' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:item_list' %}">
                        {% trans 'Items' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_edit' %}">
                        {% trans 'Edit about' %}
                    </a>
                </li>
            {% endif %}
            {% comment %}
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    {% svg_icon 'facebook' 'menu_list_icon' True %} {% trans 'Share to Facebook' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    {% svg_icon 'twitter' 'menu_list_icon' True %} {% trans 'Share to Twitter' %}
                </a>
            </li>
            {% endcomment %}
            <div class="dropdown-divider"></div>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">
                        {% trans 'Logout' %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        {% trans 'Login' %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
