{% extends 'main/base.html' %}
{% load static i18n %}

{% block beofre_grid %}
    <div id="mosaic" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for a_pop_site in popular_sites %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>

        <!-- The slideshow -->
        <div class="carousel-inner">
            {% for a_pop_site in popular_sites %}
                {% if forloop.counter == 1 %} <div class="carousel-item active"> {% else %} <div class="carousel-item"> {% endif %}
            <a href="{% url 'main:site' a_pop_site.site.id %}">
                {{ a_pop_site.picture.0.image_tag }}
                <div class="carousel-caption">
                    <h1>{{ a_pop_site.site.title }}#}</h1>
                </div>
            </a>
            </div>
            {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#mosaic" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#mosaic" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
{% endblock %}
{# by tags #}

{# by arc_context#}
{# map #}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-row flex-nowrap scroll">
            {% for tag in tags %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="{% url 'tag-url' tag.tag.id %}">
                    <div class="card card-block text-center">
                        {{  tag.picture.0.image_tag }}
                        {{  tag.tag }}
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">

        <div class="row">
            {% for arc_context in archeological_context %}
                <div class="col-4">
                    <div class="card card-block text-center">
                        {{  arc_context.picture.0.image_tag }}
                        {{  arc_context.arc_context.1 }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
