{% extends 'main/base.html' %}
{% load static i18n %}
{% block extracss %}
    <link href="{% static 'css/home' %}.css" rel="stylesheet">
{% endblock %}


{% block beofre_grid %}
    <div id="mosaic" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for a_pop_site in popular_sites %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>

        <!-- The slideshow -->
        <div class="carousel-inner text-center">
            {% for a_pop_site in popular_sites %}
                {% if forloop.counter == 1 %} <div class="carousel-item active"> {% else %} <div class="carousel-item"> {% endif %}
            <a href="{% url 'main:site' a_pop_site.site.id %}">
                {{ a_pop_site.picture.0.image_tag }}
                <div class="carousel-caption">
                    <h1>{{ a_pop_site.site.title | title }}#}</h1>
                </div>
            </a>
            </div>
            {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#mosaic" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#mosaic" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="container-fluid subjects">
        <div class="row">
            <div class="head">
                <h3>Subjects</h3>
            </div>
        </div>
        <div class="row flex-row flex-nowrap scroll">
            {% for tag in tags %}
                <a href="{% url 'tag-url' tag.tag.id %}">
                    <div class="card card-block text-center tag-card">
                        {{  tag.picture.0.image_tag }}
                        <row>
                            <h4 class = "white-card-text"> {{ tag.tag | title }} </h4>
                        </row>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="row">

        <div class="head">
            <h3>Archaeological Context</h3>
        </div>
    </div>
    <div class="row arc-context">
        {% for arc_context in archeological_context %}
            <div class="col-4">
                <div class="card card-block gray-card-text text-center">
                    {{  arc_context.picture.0.image_tag }}
                    <row>
                        <h4 class="gray-card-text"> {{  arc_context.arc_context.1 | title }} </h4>
                    </row>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{# by tags #}

{# by arc_context#}
{# map #}

{% block content %}
    {#    <div class="container-fluid">#}

    {#    </div>#}
{% endblock %}
