{% extends 'main/base.html' %}
{% load static mosaic i18n %}

{% block content %}
    <h1 class="text-center">
        {% bidi mosaic.mosaic_site 'origin' %} - {% bidi mosaic.mosaic_site 'title' %}
    </h1>
    <ul>
        <li>{% trans 'Story' %}: {{ mosaic.mosaic_site|bd:'story'|linebreaks }}</li>
        <li>{% trans 'IAA ID' %}: {{ mosaic.site_id }}</li>
        <li>{% trans 'Period' %}:{{ mosaic.mosaic_site.period }}</li>
        <li>{% trans 'Displayed at' %}: {{ mosaic.displayed_at }}</li>

        <li>
            {% trans 'Tags' %}: {% get_tags mosaic.tags %}
        </li>
        <li>{% trans 'Material' %}: {{ mosaic.get_materials }}</li>
        <li>{% trans 'Dimensions' %}: {{ mosaic.length|default_if_none:'' }}L
            X {{ mosaic.width|default_if_none:'' }}W, {% trans 'Area' %}: {{ mosaic.area|default_if_none:'' }}   </li>
        <br>
        <li>
            {% trans 'Location Found' %}:
            <ul>
                <li>{% trans 'Address' %}: {{ mosaic.mosaic_site|bd:'origin' }}</li>
            </ul>
        </li>

        <li>{% trans 'Comments' %}: {{ mosaic.mosaic_site.comments|linebreaks }}</li>
        <li>{% trans 'Bibliography' %}: {{ mosaic|bd:'bibliography'|linebreaks }}</li>

        <li>{% trans 'Images' %}:<br>
            {% for img in mosaic.pictures.all|dictsort:"order_priority" %}
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="{{ img.picture.url }}">
                            <img width="600" height="400" src="{{ img.picture.url }}" alt="{{ mosaic.mosaic_site|bd:'title' }}">
                            <img width="600" height="400" src="{{ img.picture.url }}" alt="{{ mosaic.mosaic_site|bd:'title' }}">
                        </a>
                        <div class="desc">
                            {{ img.taken_date }} - {{ img.taken_at }} - {{ img.photographer_name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </li>
    </ul>

    {#    date = models.DateField()#}
    {#    # media =#}
    {#    # gps_longitude#}
    {#    # gps_latitude#}

    {#{% for choice in question.choice_set.all %}#}
    {#    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />#}
    {#    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
    {#{% endfor %}#}
{% endblock %}
