{% extends 'main/base.html' %}
{% load static i18n mosaic %}

{% block main %}
    <div id="page">
        <header>
            <img src="{{ mosaic.get_site_cover_image_url }}">
            <div class="hero">
                <h1>
                    {{ mosaic|bd:'origin' }}
                </h1>
            </div>
        </header>
    </div>
    <div class="container">
        <h4>{% trans 'Site Album' %}</h4>
        <div class="row">
            {% for picture in mosaic.get_site_pictures %}
                {% if picture.picture %}
                    <div class="col-2 gallery-item">
                                    <a href="{% url 'main:detail' picture.mosaic.id %}">

                        <div class="frame">
                            <img src="{{ picture.picture.url }}">
                        </div>
                        <div class="misp_rashut">
                            {{ picture.mosaic.misp_rashut }}
                        </div>
                    </div>
                    <!-- if last column in row -->
                    {% if forloop.counter|divisibleby:"6" and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h4>{% trans 'Details' %}</h4>
        <div class="row">
            <div class="col-3">
                <div class="bold">{% trans 'Motsa' %}: {{ mosaic.site_id }} </div>
                <div class="bold">{% trans 'Title' %}: {{ mosaic|bd:'title' }} </div>
                <div class="bold">{% trans 'Origin' %}: {{ mosaic|bd:'origin' }} </div>
{#                <div class="bold">: {{ mosaic. }} </div>#}
{#                <div class="bold">: {{ mosaic. }} </div>#}
            </div>
            <div class="col-3">
                <div class="bold">{% trans 'Story' %}: {{ mosaic|bd:'story' }} </div>
                <div class="bold">{% trans 'Period' %}: {{ mosaic.get_period_display }} </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}