{% extends 'main/base.html' %}
{% load static i18n %}

{% block content %}
    <h1 align="center">{{ mosaic.origin }} - {{ mosaic.title }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <br><br>
    <ul>
        <li>{% trans 'Story' %}: {{ mosaic.story|linebreaks }}</li>
        <li>{% trans 'IAA ID' %}: {{ mosaic.iaa_id }}</li>
        <li>{% trans 'IAA permission code' %}: {{ mosaic.iaa_permission_code }}</li>
        <li>{% trans 'Period' %}:{{ mosaic.period }}</li>
        <li>{% trans 'Displayed at' %}: {{ mosaic.displayed_at }}</li>

        <li>{% trans 'Tags' %}:
            {% for tag in mosaic.tags.all %}
                {{ tag }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </li>
        <li>{% trans 'Material' %}: {{ mosaic.material }}</li>
        <li>{% trans 'Dimensions' %}: {{ mosaic.dimen_length }}L
            X {{ mosaic.dimen_width }}W, {% trans 'Area' %}: {{ mosaic.dimen_area }}   </li>
        <br>
        <li>
            {% trans 'Location Found' %}:
            <ul>
                <li>{% trans 'Name' %}: {{ mosaic.place_name }}</li>
                <li>{% trans 'Address' %}: {{ mosaic }}</li>
            </ul>
        </li>

        <li>{% trans 'Comments' %}: {{ mosaic.comments|linebreaks }}</li>
        <li>{% trans 'Bibliography' %}: {{ mosaic.bibliography|linebreaks }}</li>
        <li>{% trans 'Publications' %}: {{ mosaic.publications|linebreaks }}</li>

        <li>{% trans 'Images' %}:<br>
            {% for img in mosaic.pictures.all|dictsort:"order_priority" %}
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="{{ img.picture.url }}">
                            <img width="600" height="400" src="{{ img.picture.url }}" alt="{{ mosaic.title }}">
                        </a>
                        <div class="desc">
                            {{ img.taken_date }} - {{ img.taken_at }} - {{ img.photographer_name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </li>
    </ul>

    {#    date = models.DateField()#}
    {#    # media =#}
    {#    # gps_longitude#}
    {#    # gps_latitude#}

    {#{% for choice in question.choice_set.all %}#}
    {#    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />#}
    {#    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
    {#{% endfor %}#}
{% endblock %}
