{% extends 'main/base.html' %}
{% load static i18n mosaic %}

{% block main %}
    <div id="page">
        <header>
            <img src="{{ mosaic.get_site_cover_image.huge_thumb.url }}">
            <div class="hero">
                <h1>
                    {{ mosaic|bd:'title' }}
                </h1>
            </div>
        </header>
    </div>
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item border p-1">
                <b>{{ mosaic.get_archaeological_context_display }}</b>
            </li>
            <li class="list-inline-item border p-1">
                <b>{% trans 'Motsa' %}</b>: {{ mosaic.site_id }} </li>
            <li class="list-inline-item border p-1">
                <b>{% trans 'Title' %}</b>: {{ mosaic|bd:'title' }} </li>
            <li class="list-inline-item border p-1">
                <b>{% trans 'Origin' %}</b>: {{ mosaic|bd:'origin' }} </li>
            <li class="list-inline-item border p-1">
                <b>{% trans 'Story' %}</b>: {{ mosaic|bd:'story' }} </li>
            <li class="list-inline-item border p-1">
                <b>{% trans 'Period' %}</b>: {{ mosaic.get_period_display }}
            </li>
        </ul>

        {% if mosaic.video_id %}
            <div class="container">
                <div class="embed-responsive embed-responsive-16by9 mb-5">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{ mosaic.video_id }}"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                </div>
            </div>
        {% endif %}

        {% for item in mosaic.items.all %}
            <div>
                <h4>
                    {{ item|bd:"description" }}
                </h4>
                <div class="row">
                    {% for p in item.pictures.all|slice:":5" %}
                        <div class="col-2 gallery-item">
                            <a href="{% url 'main:detail' item.id %}">
                                <div class="frame">
                                    <img src="{{ p.medium_thumb.url }}">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-2 gallery-item">
                        <div class="frame next">
                            <a href="{% url 'main:detail' item.id %}"
                               class="">
                                <i class="far fa-images"></i> {{ item.pictures.count }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}