{% extends "main/base.html" %}
{% load static i18n mosaic %}

{% block content %}
    {% regroup sites by period as grouped %}
    {% for group in grouped %}
        <h2 class="mb-4 mt-4">{{ group.list.0.get_period_display }}</h2>
        <div class="card-columns">
            {% for object in group.list %}
                <div class="card">
                    <a href="{{ object.get_absolute_url }}">
                        <img class="card-img-top"
                             src="{{ object.items.first.pictures.first.medium_thumb.url }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{{ object.get_absolute_url }}">
                            {{ object|bd:'title' }}

                        </a>
                        </h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
