{% extends "main/base.html" %}
{% load static i18n mosaic %}

{% block content %}
    <h2>{% trans 'Site List' %}</h2>
    <ul class="table-row">
        {% for mosaic in site_list %}
            {% ifchanged mosaic|bd_first_letter:'title' %}
                </ul>
                <h2 class="capital-letter">
                    {{ mosaic|bd_first_letter:'title' }}
                </h2>
                <ul class="table-row">
            {% endifchanged %}
            <li class="table-cel">
                <a href="{% url 'main:site' mosaic.id %}">
                    <img src="{{ mosaic.get_site_cover_image_url }}" alt="{{ mosaic|bd:'title' }}"/>
                    <span>{{ mosaic|bd:'title' }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
