{% extends "main/base.html" %}
{% load static i18n mosaic %}

{% block content %}
    <h2>{% trans 'Site List' %}</h2>

    <ul class="nav nav-tabs capital-letter" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all" role="tab">ALL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#am" role="tab">A-M</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nz" role="tab">N-Z</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="all" role="tabpanel">
          <ul class="table-row">
        {% for mosaic in site_list %}
            <li class="table-cel">
                <a href="{% url 'main:site' mosaic.id %}">
                    <span class="site_image" style="background-image: url({{ mosaic.get_site_cover_image_url }});"></span>
                    <span class="site_title">{{ mosaic|bd:'title' }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
      </div>

      <div class="tab-pane" id="am" role="tabpanel">
          <ul class="table-row">
        {% for mosaic in am_list %}
            <li class="table-cel">
                <a href="{% url 'main:site' mosaic.id %}">
                    <span class="site_image" style="background-image: url({{ mosaic.get_site_cover_image_url }});"></span>
                    <span class="site_title">{{ mosaic|bd:'title' }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
      </div>

      <div class="tab-pane" id="nz" role="tabpanel">
          <ul class="table-row">
        {% for mosaic in nz_list %}
            <li class="table-cel">
                <a href="{% url 'main:site' mosaic.id %}">
                    <span class="site_image" style="background-image: url({{ mosaic.get_site_cover_image_url }});"></span>
                    <span class="site_title">{{ mosaic|bd:'title' }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
