{% extends "main/base.html" %}
{% load static i18n mosaic %}

{% block content %}
    <h1>
        <a href="{% url "main:subjects" %}">{% trans "Subjects" %}</a>
        &gt;
        {{ tag|bd:'tag' }}
    </h1>
    <div class="card-columns">
        {% for object in object_list %}
            <div class="card">
                <a href="{{ object.get_absolute_url }}">
                    <img class="card-img-top"
                         src="{{ object.pictures.first.medium_thumb.url }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{{ object.get_absolute_url }}">
                        {{ object.mosaic_site|bd:'title' }}
                        &gt;
                        {{ object|bd:'description' }}
                    </a>
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
