
.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.card-block {
    height: 170px;
}

.carousel-inner {
    height: 570px;
}

.carousel-item {
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    top:5%;
}
.carousel-caption h1 {
    color: #1d2124;
    padding:5px 15px;
    display: inline-block;
    background-color: white;
}

.head{
    margin-left: auto;
    margin-right: auto;
}

.subjects {
    width:100%;
    background-color: #80bdff;
}