.subjects {
    width:100%;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0 60px;
    height: auto;
}



.subjects .card-block {
    height: 200px;
    color: #e7685a;
    font-weight: bolder;
    background-color: white;
    background-clip: padding-box;
    width:auto;
}
.white-card-text {
    background-color: white;
    margin: 0px;
    padding-bottom: 5px;
}

.tag-card {
    margin: 10px;
}
.carousel-inner {
   max-height: 500px;
}

.carousel-item {
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    top:5%;
}
.carousel-caption h1 {
    color: #1d2124;
    padding:5px 15px;
    display: inline-block;
    background-color: white;
}

.head{
    margin-left: auto;
    padding-top: 25px;
    margin-right: auto;
}

.scroll {
    overflow-x: scroll;
    padding: 10px 0 70px 0;

}

.gray-card-text {
    background-color: #f2f2f2;
    margin: 0px;
    padding-bottom: 5px;
}

.arc-context .card-block {
    display: inline-block;
    margin: 0px;
    height: auto;
}

.arc-context {
    padding:20px;
}
.arc-context .card-block img {
    width: 100%;
    height: auto;
}