body{
    background: #F3F3F3;
}


.site_gallery img {
    width: 200px;
    height: 200px;
}

.site_desc {
    width:100%;
    background:#FFFFFF;
    padding: 15px;
    text-align: center;
}

.site_responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}

.table-row {
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
}

.table-cel {
  margin: .5em;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.table-cel span {
  display: block;
  padding: 0 1em;
  background: #fff;
  text-align: center;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'David Libre', serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #3E3E3E;
}

.table-cel img {
    max-width: 100%;
    height: 200px
}

.capital-letter{
  font-family: 'Assistant', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #484848;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
