/* Generic */
.text-white {
    color: #fff;
}

.no-btn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.delete-row {
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.add-row {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc(50% - 50px);
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.delete-row:hover,
.add-row:hover {
    color: #fff;
}

/* Carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #e7685a;
}

/* Header */
header {
    background-color: #fff;
    border-bottom: 2px solid #666;
    box-shadow: 0 1px 10px #666;
    margin-bottom: 0.5rem;
}

.user-menu-btn {
    position: absolute;
    right: 1rem;
}

#user_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 200px !important;
    background-color: #ccc;
    z-index: 1;
}

#user_menu.collapse {
    transition: all 0.1s !important;
    width: 200px;
}

#user_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border: 1px solid #999;
}

#user_menu ul li .nav-link {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.close-user-menu {
    display: block;
    position: relative;
    right: 41px;
    top: 0;
    height: 41px;
    line-height: 41px;
    width: 41px;
    text-align: center;
    background-color: #666;
    cursor: pointer;
    float: left;
}

.close-user-menu .fa {
    color: #fff;
    vertical-align: sub;
}

.bg-white {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 0.9rem;
    margin: 0 4rem 0 0;
    line-height: 60px;
}

.navbar-brand img {
    margin-left: 2rem;
}

/* Home */
.sub-featured {
    background-color: #fff;
    padding: 4rem 0;
}

.sub-featured .card,
.sub-featured .card img {
    border: 0;
    border-radius: 0;
}

.sub-featured .card img {
    height: 300px;
}

.sub-featured .card-title {
    font-size: 2.5rem;
    line-height: 5rem;
    border-bottom: 0.5rem solid #e7685a;
    color: #e7685a;
}

.subjects {
    background-color: #f2f2f2;
    padding: 2rem;
}

.subjects .tag-item a {
    display: block;
    width: 201px;
    height: 201px;
}

.subjects .tag-item a span {
    display: block;
    width: 201px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subjects .tag-item a h4 {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: #e7685a !important;
    padding: 0.6rem 0;
    font-weight: bold;
    font-size: 1.125rem;
}

.subjects .owl-nav {
    font-size: 30px;
}

.subjects .owl-prev {
    position: absolute;
    top: 70px;
    right: -30px;
}

.subjects .owl-next {
    position: absolute;
    top: 70px;
    left: -30px;
}

.white-card-text {
    color: #e7685a;
    background-color: #fff;
    margin: 0;
    padding-bottom: 5px;
}

.tag-card {
    margin: 10px;
}

.carousel-inner {
    max-height: 500px;
}

.carousel-caption {
    top: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 60px;
    color: #e7685a;
}

.carousel-caption h5 {
    color: #e7685a;
    padding: 10px 20px;
    display: inline-block;
    background-color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.head {
    margin-right: auto;
    padding-top: 25px;
    margin-left: auto;
}

.scroll {
    overflow-x: scroll;
    padding: 10px 0 70px 0;

}

.gray-card-text {
    background-color: #f2f2f2;
    color: #e7685a;
    margin: 0;
    padding: 0.5rem 0;
}

.arc-context {
    padding: 2rem 0;
    background-color: #fff;
}

.arc-context .card img {
    width: 350px;
    height: 200px;
}

/* Main */
main {
    min-height: calc(100vh - 144px);
}

/* Site */
body {
    direction: rtl;
    text-align: right;
    background: #F3F3F3;
}

.site_gallery img {
    width: 200px;
    height: 200px;
}

.site_desc {
    width: 100%;
    background: #FFFFFF;
    padding: 15px;
    text-align: center;
}

.site_responsive {
    padding: 0 6px;
    float: right;
    width: 100%;
}

.table-row {
    display: block;
    margin: 0 0 1em 0;
    padding: 0;
}

.table-cel {
    margin: .5em;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    background-color: #f2f2f2;
}

.table-cel a {
    display: block;
}

.table-cel .site_image {
    display: block;
    width: 201px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.table-cel .site_title {
    display: block;
    padding: 0 0.25rem;
    background: #fff;
    text-align: center;
    white-space: normal;
    font-family: 'David Libre', serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    height: 3rem;
    font-weight: 500;
    color: #3E3E3E;
    max-width: 201px;
}

.table-cel img {
    max-width: 100%;
    height: 200px
}

.capital-letter {
    font-family: 'Assistant', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #484848;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

#page {
    max-width: 1220px;
    margin: 0 auto 40px auto
}

#page header h1 {
    margin: 0 0 1em 0;
    font-size: 3.2em;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 15px 0px 0px;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 15px;
    transition: background-color 0.5s;
}

a.btn:hover {
    background-color: rgba(87, 80, 91, 0.85);
}

#page header {
    height: 430px;
    background: #cfceb4 no-repeat center bottom;
    position: relative;
}

#page header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#page header img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 105%;
    min-height: 100%
}

header div.hero {
    position: absolute;
    width: 32%;
    top: 160px;
    right: 35%;
}

header div.hero h1 {
    line-height: 0.9em;
    margin: 0 0 30px 0;
    color: white /*color: antiquewhite;*/
}

.gallery-item {
    padding: 2px 0px 55px 0px;
    box-sizing: border-box;
    height: 260px;
    overflow: hidden;
}

.gallery-item .frame {
    height: 205px;
    max-width: 96%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #666;
    box-shadow: 0 1px 10px #666;
}

.frame img {
    flex-shrink: 0;
    min-height: 100%;
    max-height: 100%;
    transform-origin: center center;
    transform: scale(1.6);
}

.misp_rashut {
    height: 90px;
    text-align-last: center;
}

/* Forms */
.current-image {
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Responsive */
@media only screen and (max-width: 767px) {
    #main-search-form {
        width: 85%;
        margin-right: 15%;
    }

    header .navbar-toggler {
        position: absolute;
        right: 0;
        top: -42px;
    }
}
