{% load i18n mosaic %}

<div class="formset-wrapper">
    <h2>{% trans 'Upload images' %}</h2>
    {{ form.management_form }}
    {{ form.non_form_errors }}
    {% for f in form %}
        {{ f.id }}
        <div class="jumbotron {{ form.prefix }}">
            {% for hidden in f.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in f.visible_fields %}
                {% if field|is_checkbox %}
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ field }}
                            {{ field.label }}
                        </label>
                        {% if field.help_text %}
                            <small id="{{ field.html_name }}HelpBlock" class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                        {% endif %}
                {% else %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small id="{{ field.html_name }}HelpBlock" class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                        {% endif %}
                {% endif %}
                {% if field.errors %}
                    <div class="invalid-feedback">{{ field.errors.as_text }}</div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if form.can_delete %}
        {{ f.DELETE }}
    {% endif %}
</div>
