{% load i18n mosaic %}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">{% trans 'Upload pictures' %}</h2>
    </div>
    {{ form.management_form }}
    {{ form.non_form_errors }}
    {% for f in form %}
        <div class="col-12 col-md-6 {{ form.prefix }}">
            {{ f.id }}
            <div class="jumbotron">
                {% for hidden in f.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in f.visible_fields %}
                    {% if field|is_checkbox %}
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ field }}
                                {{ field.label }}
                            </label>
                            {% if field.help_text %}
                                <small id="{{ field.html_name }}HelpBlock" class="form-text text-muted">
                                    {{ field.help_text|safe }}
                                </small>
                            {% endif %}
                    {% else %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <small id="{{ field.html_name }}HelpBlock" class="form-text text-muted">
                                    {{ field.help_text|safe }}
                                </small>
                            {% endif %}
                            {% if field|is_file and field.value %}
                                <span class="current-image" style="background-image: url({{ field.value.url }});">
                                </span>
                            {% endif %}
                    {% endif %}
                    {% if field.errors %}
                        <div class="invalid-feedback">{{ field.errors.as_text }}</div>
                    {% endif %}
                    </div>
                {% endfor %}
                {% if form.can_delete %}
                    {{ f.DELETE }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>